@import "./Reset.scss";
@import "./Typography.scss";
@import "./Constants.scss";
@import "./Vars.scss";

html {
  background-color: #000000;
}

img {
  width: 100%;
  height: auto;
}

.splashHeading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  @media screen and (max-width: $sm) {
    > div {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40vh;
    }
  }

  @media screen and (min-width: $sm) {
    > div {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35vh;
    }
  }
  @media screen and (min-width: $lg) {
    > div {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35vh;
    }
  }
}

button {
  width: 100%;
  height: 5rem;
  background: black;
  border: 2px solid white;
  box-shadow: 5px 5px white;
  margin-top: $spacer3;
  transition: transform 0.2s;
}

button:hover {
  opacity: 0.5;
  transform: scale(0.95);
  //box-shadow: 5px 5px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.stroke {
  color: white;
  -webkit-text-fill-color: #000000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  line-height: 10rem;
  font-weight: 600;
  font-size: 6rem;
}

.navbar {
  position: absolute;
  display: flex;
  right: $spacer2;
  top: $spacer2;
  z-index: 99;
  a {
    text-decoration: none;
    margin-left: $spacer2;
  }

  a:hover {
    font-weight: 700;
  }
}

.footer {
  position: absolute;
  bottom: $spacer2;
  z-index: 999;

  display: flex;
}

#work {
  position: fixed;
  font-size: 16rem;
  font-weight: 800;
  opacity: 0.2;
  top: $spacer4;
  left: $spacer3;
}

.workTile {
  width: 100%;
}

#workList {
  margin-top: $spacer4*1.5;
}

.misc {
  img {
    margin-bottom: $spacer3;
  }
}

.techStack {
  h2,
  p {
    color: $lavendar;
  }
}

.innerPages {
  h2 {
    margin-top: $spacer2;
    margin-bottom: $spacer1;
  }

  .keyFeatures {
    h2,
    p {
      color: $lavendar;
    }
  }

  img {
    margin-top: $spacer3;
  }

  a:hover {
    text-decoration: none;
  }
}
