@import "./Constants.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 6px;
  @media screen and (min-width: $sm) {
    font-size: 9px;
  }
  @media screen and (min-width: $md) {
    font-size: 10px;
  }
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 4.2rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.8rem;
  font-family: "Roboto Mono", monospace;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
  text-align: right;
  margin-bottom: 2rem;
}
h5 {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

a {
  color: white;
  transition: all 0.3s ease-in-out;
}

p {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", auto;
  line-height: 2.8rem;
}

button {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 1.4rem;
}

ul,
li {
  color: white;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "Poppins", sans-serif;
}

